<head>
    머리
</head>

<body>
    <nav></nav>
    <div id="container">
        <div class="side"></div>
        <div class="main">
            <div class="card">
                <div class="board">
                    <h3><a href="teamwant.html">게시판</a></h3>
                </div>

                <form action='http://13.209.230.102:5000/'>
                    ID : <input id='userid' type='text' /><br>
                    비밀번호 : <input id='pwd' type='password' maxlength='5' /><br>
                    <input type='submit' value='로그인'>
                </form>
            </div>
            <div class="card"></div>
        </div>




    </div>
    <div> 1 </div>

    <div> 2</div>
    <!-- Hypertext Markup Language (HTML) is the standard markup language for <strong>creating <u>web</u> pages</strong> and web
applications. -->
</body>